<div class="container">
  <div class="overflow-scroll">
    <div class="title-container">
      <h1 class="title">The Winter Collection</h1>
      <p class="sub-title">
        Your daily uniform, made with exceptional attention to detail.
      </p>
    </div>
    <div class="box-container">
      <div class="boxs">
        <div class="box">
          <div class="dropdown">
            <div class="inner-box">
              <button class="dropbtn" (click)="myFunction(showSort)">
                Sort By: Relevance
              </button>
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </div>
            <div #showSort class="dropdown-content">
              <a href="#home">Relevance</a>
              <a href="#about">Best Sellers</a>
              <a href="#contact">Price: High - Low</a>
              <a href="">Price: Low - High</a>
              <a href="">Newest</a>
              <a href="">Top Rated</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="dropdown">
            <div class="inner-box">
              <button class="dropbtn" (click)="myFunction(showCategory)">
                Category
              </button>
              <ion-icon name="chevron-down-outline"></ion-icon>
            </div>
            <div #showCategory class="dropdown-content">
              <a href="#home">Shirts</a>
              <a href="#about">jackets</a>
              <a href="#contact">Sweaters</a>
              <a>Pants</a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="dropdown">
            <div class="inner-box">
              <button class="dropbtn" (click)="myFunction(showSize)">
                Size
              </button>
              <ion-icon name="swap-vertical-outline"></ion-icon>
            </div>
            <div #showSize class="dropdown-content">
              <a href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
            </div>
          </div>
        </div>
        <div class="box">
          <button class="dropdown" (click)="myFunction(showColor)">
            <div class="inner-box">
              <button class="dropbtn">Color</button>
              <ion-icon
                name="chevron-down-outline"
                (click)="myFunction(showColor)"
              ></ion-icon>
            </div>
            <div #showColor class="dropdown-content">
              <div class="flex-checkbox" *ngFor="let color of colorObject">
                <input type="checkbox" />
                <a>{{ color?.name }}</a>
              </div>
            </div>
          </button>
        </div>
        <ion-icon name="options-outline" class="icon"></ion-icon>
      </div>
      <div class="result">
        <p>112 results</p>
      </div>
    </div>
    <div class="grid-four-container">
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img1.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img2.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img3.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img4.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img5.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img6.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img7.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img8.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img12.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img11.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img10.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img9.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img13.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img14.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img15.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img16.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img17.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img18.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img19.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon
              name="caret-forward-outline"
              class="icon-white"
            ></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img20.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img21.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img22.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img23.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img24.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <h2 class="latest-drop">More From the latest drop</h2>

    <div class="container-lastest-drop">
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img1.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img2.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img3.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img4.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img5.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img6.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img7.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img8.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img12.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img11.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img10.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img9.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img13.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img14.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img15.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img16.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img17.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img18.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img19.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon
              name="caret-forward-outline"
              class="icon-white"
            ></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img20.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
      <div class="container-images">
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img21.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img22.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img23.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
        <div class="img">
          <picture>
            <img
              src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-newarrivals-img24.jpg?wid=600"
              alt=""
            />
          </picture>
          <div class="absolute-flex">
            <a href="">Shop</a>
            <ion-icon name="caret-forward-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
