.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .overflow-scroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .title-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      .title {
        font-size: 50px;
        letter-spacing: 10px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .sub-title {
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
    .box-container {
      display: grid;
      margin: 0 auto;
      top: 86px;
      z-index: 2;
      width: 100%;
      position: sticky;
      grid-template-columns: 60% 1fr;
      align-items: center;
      justify-content: space-between;
      background: white;
      padding: 15px 100px;
      .boxs {
        display: flex;  
        align-items: center;
        height: 100%;
        justify-content: space-between;
        .box {
          display: flex;
          align-items: center;
          margin: 0 10px;
          justify-content: space-between;
        }
        ion-icon.icon {
          font-size: 35px;
        }
      }
      .result {
        text-align: end;
      }
    }
    .grid-four-container {
      width: 85%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* Add this line */
      gap: 20px;
      .container-images {
        display: flex;
        gap: 20px;
        .img {
          flex: 1;
          margin-top: 20px;
          position: relative;
          display: flex;
          overflow: hidden; 
          picture {
            width: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.3s ease-in-out;
            }
            img:hover {
              transform: scale(1.03);
            }
          }
          .absolute-flex {
            display: flex;
            position: absolute;
            align-items: center;
            right: 10px;
            bottom: 10px;
            a {
              color: #fff;
              text-decoration: none;
            }
            ion-icon[name="caret-forward-outline"] {
              color: #fff;
            }
          }
        }&:hover{
          cursor: pointer;
        }
      }
    }
    .latest-drop {
      text-align: center;
      margin: 70px 20px 20px 20px;
      font-size: 30px;
      letter-spacing: 5px;
      text-transform: uppercase;
    }
    .container-lastest-drop {
      width: 97%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      .container-images {
        display: flex;
        gap: 20px;
        .img {
          margin-top: 20px;
          position: relative;
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 100%; 
          .figure {
            width: 100%; 
            max-width: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: all 0.3s ease-in-out;
            }
          }
          .figure img.Sirv.image-hover {
            position: absolute;
            top: -35px;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: contain;
            opacity: 0;
            transition: opacity .2s;
          }
          .figure:hover img.Sirv.image-hover {
            opacity: 1;
          }
          .absolute-flex {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all 0.1s ease-out;
            ion-icon[name="heart-outline"] {
              width: 25px;
              height: 25px;
              color: #000;
              background-color: #fff;
              border-radius: 50%;
              padding: 10px;
            }
          }
          .absolute-flex-btn {
            position: absolute;
            width: 100%;
            bottom: 80px;
            display: flex;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            margin: 0 auto;
            justify-content: center;
            button {
              font-size: 14px;
              font-weight: 600;
              letter-spacing: 1px;
              padding: 12px 20px;
              width: 90%;
              text-align: center;
              background-color: #fff;
              outline: none;
              border: none;
            }
          }
          .brand-price-color-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 10px;
            .brand-price-container {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .branch, .price {
                font-size: 14px;
              }
            }
            .color-container {
              display: flex;
              gap: 10px;
              margin-top: 10px;
              .color {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 1px solid #ddd;
                transition: all 0.3s ease-in-out;
              }
              .color:hover {
                cursor: pointer;
                border: 1.5px solid #000;
              }
            }
          }
        }
        .img:hover .absolute-flex, .img:hover .absolute-flex-btn, .img:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
      .btn-container {
        margin: 30px 0 10px 0;
        text-align: center;
      }
    }

  }
}

.dropbtn {
  background-color: #fff;
  color: black;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  width: 100%;
  background: none;;
  .inner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 100%;
    ion-icon {
      font-size: 25px;
      padding: 0 20px 0 0;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  overflow: auto;
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  .flex-checkbox {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.showCategory {
  display: block;
}

