<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="title">
        <h2>Shopping Bag</h2>
    </div>
    <hr>
    <div class="sub-titles">
        <p class="product">
            product
        </p>
        <div class="devivery-qty">
            <p>delivery</p>
            <p>Qty</p>
        </div>
        <div class="price-total">
            <p>price</p>
            <p>total</p>
        </div>
    </div>
    <hr>
    <div class="item-review">
        <div class="name-product">
            <div class="img-logo">
                <img src="https://www.madewell.com/images/NO584_NA0229_ld?wid=830&hei=1054&fmt=jpeg&fit=crop&qlt=75,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
            </div>
            <div class="description">
                <p>The 1991 Straight-Leg Jean in Matchstick Wash: Garment-Dyed Edition</p>
                <p>item #NN925</p>
                <p>Color: Dried olive</p>
                <p>Size: X-large</p>
            </div>
        </div>
        <div class="dev-qty">
                <mat-radio-button value="0">SHIP TO HOME</mat-radio-button>
            <div class="btn-increased-decreased">
                <button class="decreased">-</button>
                <p>1</p>
                <button class="increased">+</button>
              </div>
        </div>
        <div class="priz-sum">
            <p>$100.00</p>
            <p>$100.00</p>
        </div>
    </div>
    <hr>
    <div class="checkout">
        <div class="btn-checkout">
            <button class="btn-check-out">Checkout</button>
        </div>
    </div>
</div>
<app-footer></app-footer>