<div class="container-side-bar">
    <div class="logo">
        <p>OutfittersHub</p>
        <img src="" alt="">
        <ion-icon name="cog-outline"></ion-icon>
    </div>

    <div class="flex-col">
        <div class="flex-row">
            <ion-icon name="grid-outline"></ion-icon>
            <p>Dashboard</p>
        </div>
        <div class="flex-row product">
            <ion-icon name="cube-outline"></ion-icon>
            <button (click)="toggleDropdown()">Product</button>
            <div class="dropdown-menu" [ngClass]="{'show': showDropdown}">
                <a href="#">Product List</a>
                <a href="#">Add Product</a>
                <!-- Add more links as needed -->
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->

