<div class="container-side-bar">
  <div class="logo">
    <p>OutfittersHub</p>
    <img src="" alt="" />
    <ion-icon name="cog-outline"></ion-icon>
  </div>

  <div class="flex-col">
    <div
      class="flex-row"
      routerLink="dashboard"
      routerLinkActive="parent-active"
    >
      <ion-icon name="grid-outline"></ion-icon>
      <p>Dashboard</p>
    </div>
    <div
      class="flex-row product"
      (click)="toggleDropdown()"
      routerLinkActive="parent-active"
    >
      <div class="sub-flex">
        <ion-icon name="cube-outline"></ion-icon>
        <button class="products">Product</button>
      </div>
      <ion-icon name="chevron-forward-outline" *ngIf="!showDropdown"></ion-icon>
      <ion-icon name="chevron-down-outline" *ngIf="showDropdown"></ion-icon>
      <div
        class="dropdown-menu"
        [ngClass]="{ show: showDropdown }"
        [@dropdownAnimation]="dropdownState"
      >
      
        <a
          (click)="setActive($event)"
          routerLink="products/listing"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Product List</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Add Product</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/category"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Category List</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/add-category"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Add Category</a
        >
        <!-- <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Sub Category List</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Add Sub Category</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Brand List</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Add Brand</a
        >
        <a
          (click)="setActive($event)"
          routerLink="products/adding"
          routerLinkActive="active"
          >
          <ion-icon name="arrow-forward-outline"></ion-icon>
          Import Products</a
        > -->
      </div>
    </div>
  </div>
</div>
