<div class="navbar" #dropdown_container>
  <div class="logo" #logo>
    <div class="logo" routerLink="/">Outterfithub</div>
  </div>
  <div class="dropdown-container" >
    <div class="dropdown" [routerLink]="['/all/men/new']" routerLinkActive="active">
      <button class="dropbtn" > New
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3> spotlight on</h3>
            <a href="#">New Arrivals: The winter collection</a>
            <a href="#">The Monthly Edit</a>
            <a href="#">Style Guide</a>
            <a href="#">Best Seller</a>
          </div>
          <div class="column">
            <h3>Featured Shop</h3>
            <a href="#">Holiday Dressing</a>
            <a href="#">The Milled</a>
            <a href="#">Office Ready</a>
          </div>
          <div class="column">
            <div class="flex-img">
            <img src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1flyout-newarrivals.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
            <p>shop new arrivals <ion-icon name="caret-forward-outline"></ion-icon></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown" [routerLink]="['/all/men/denim']" routerLinkActive="active">
      <button class="dropbtn"  > Denim
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <a href="#">Shop all jeans</a>
            <a href="#">About Our Denim</a>
          </div>
          <div class="column">
            <h3>Spotlight On</h3>
            <a href="#">The Garment Dyed Jean</a>
          </div>
          <div class="column">
            <div class="flex-img">
            <img src="https://www.madewell.com/brand_creative/mw-jpg/2024/m-2024-jan1flyout-denim.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
            <p>shop all denim <ion-icon name="caret-forward-outline"></ion-icon> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown" [routerLink]="['/all/men/clothing']" routerLinkActive="active">
      <button class="dropbtn"  >Clothing
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Clothing</h3>
            <a href="#">Shop all clothing</a>
            <a href="#">Jeans</a>
            <a href="#">Shirts</a>
            <a href="#">Hoodies & Sweatshirts</a>
            <a href="#">Sweaters</a>
            <a href="#">Jackets & Coats</a>
            <a href="#">Pants</a>
            <a href="#">Shorts</a>
            <a href="#">Polos</a>
          </div>
          <div class="column">
            <h3>Spotlight On</h3>
            <a href="#">The Sunday Flannel</a>
            <a href="#">The McCarren Hoodie</a>
            <a href="#">The Work Shirt</a>
            <a href="#">The Allday tees</a>
            <a href="#">Best Sellers</a>
          </div>
          <div class="column">
            <div class="flex-img">
              <img src="https://www.madewell.com/brand_creative/mw-jpg/2024/m-2024-jan1flyout-clothing.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
              <p>SHOP CLOTHING <ion-icon name="caret-forward-outline"></ion-icon> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown" [routerLink]="['/all/men/accessories']" routerLinkActive="active">
      <button class="dropbtn" > Acessories
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Acessories</h3>
            <a href="#">Shop all Acessories</a>
            <a href="#">Hats & Beanies</a>
            <a href="#">Socks</a>
            <a href="#">Bags & Wallets</a>
            <a href="#">Belts</a>
            <a href="#">Sunglasses</a>
            <a href="#">Watches</a>
            <a href="#">Home</a>
          </div>
          <div class="column">
            <div class="flex-img">
              <img src="https://www.madewell.com/brand_creative/mw-jpg/2024/m-2024-jan1flyout-accessories.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
              <p>SHOP ALL Acessories <ion-icon name="caret-forward-outline"></ion-icon> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown" [routerLink]="['/all/men/sales']" routerLinkActive="active">
      <button class="dropbtn"> Sale
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <div class="row">
          <div class="column">
            <h3>Current Sale Events</h3>
            <a href="#">Extra 30% Off Sale</a>
          </div>
          <div class="column">
            <h3>SALE</h3>
            <a href="#">All Sale</a>
            <a href="#">Sale Jeans</a>
            <a href="#">Sale Tees & Sweatshirts</a>
            <a href="#">Sale Shirts</a>
            <a href="#">Sale Sweaters</a>
            <a href="#">Sale Jackets </a>
            <a href="#">Sale Pants</a>
            <a href="#">Sale Shorts</a>
            <a href="#">Sale Shoes</a>
            <a href="#">Sale Accessories</a>
          </div>
          <div class="column">
            <div class="flex-img">
              <img src="https://www.madewell.com/brand_creative/madewell/Monthly_Sites/2024/01_January/Promo/12_25_50OffSale_Flyout-v2.jpg?wid=1080&fmt=jpeg&fit=wrap&qlt=70,1&resMode=bisharp&op_usm=0.5,1,5,0" alt="">
              <p>SHOP SALE <ion-icon name="caret-forward-outline"></ion-icon> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="icons" #icons>
    <ion-icon name="search-outline"></ion-icon>
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="person-outline"></ion-icon>
    <div class="ion-icon">
      <ion-icon name="bag-outline"></ion-icon>
      <span>0</span>
    </div>
  </div>
</div>