<div class="container">
  <!-- <div class="centre">
    <ng-lottie height="100%" [options]="background"></ng-lottie>
  </div> -->
    <div class="login-container" *ngIf="isLoginFormVisible; else showGoogleSignIn">
        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <h1>Welcome Back</h1>
          <p>Please login to your account</p>
          <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Email" formControlName="email">
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Password" formControlName="password">
          </div>
          <button type="submit">Login</button>
          <div class="bottom-text">
            <p>Don't have an account? <a (click)="unToggleLoginForm()">Sign Up</a></p>
            <p><a class="forgot-password">Forgot password?</a></p>
          </div>
        </form>
    </div>

    <ng-template  #showGoogleSignIn>
      <div class="login-container">
          <form class="login-form" >
            <h1>Welcome </h1>
            <p>Please login to your account</p>
            <button type="button" class="login-with-google-btn" (click)="onSignInWithGoogle()">
              Sign in with Google
            </button>
            <div class="bottom-text">
              <p>Already have an account? <a (click)="toggleLoginForm()">Sign In</a></p>
            </div>
          </form>
      </div>
    </ng-template>
    
</div>