.navBar-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.navBar-icons {
  width: 80%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
}

.title p:hover {
  cursor: pointer;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  padding: 0 0 0 35px;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  display: flex;
  gap: 30px;
}

ion-icon {
  width: 20px;
  height: 20px;
  z-index: 1;
}

ion-icon:hover {
  cursor: pointer;
}

ion-icon[name="person-outline"] {
  color: #000000;
}

.expanding-content{
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .hover {
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
    .hover-title {
      font-size: 14px;
      font-weight: 500;
      padding: 20px 0;
      p {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
      }
    }
    hr {
      margin: 20px 0 0 0;
    }
    .hover-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 20px 0;
      a {
        font-size: 16px;
        font-weight: 400;
        color: #000000;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  
  }

}
.expanding-content-bag{
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: width 0.3s ease;
  .hover {
    display: flex;
    width: 100%;
    flex-direction: column;
    .hover-title {
      width: 100%;
      display: flex;
      font-size: 14px;
      font-weight: 500;
      padding: 20px;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 18px;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
      }
      .icon {
        display: flex;
        justify-content: center;
        ion-icon {
          width: 20px;
          height: 20px;
          z-index: 1;
        }
      }
    }
    hr {
      margin: 0;
    }
    .hover-content {
      display: flex;
      padding: 20px;
      gap: 10px;
      .img {
        width: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .flex-1 {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        p.name-product {
          font-size: 16px;
          font-weight: 600;
          color: #000000;
          text-decoration: none;
        }
        p.name-product:hover {
          text-decoration: underline;
        }
        p.color {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          text-decoration: none;
        }
        p.size {
          font-size: 14px;
          font-weight: 400;
          color: #000000;
          text-decoration: none;
        }
        .quanity {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .btn-increased-decreased {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000000;
            text-decoration: none;
            button {
              border: none;
              background-color: transparent;
              font-size: 16px;
              font-weight: 600;
              padding: 0 10px;
            }
          }
        }
      }
    }
    .order-subtotal {
      display: flex;
      justify-content: space-between;
      margin: 20px 10px;
    }
    .btn-checkout {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      button.btn-check-out {
        width: 80%;
        padding: 10px 20px;
        border: 1px solid #000;
        margin: 8px 8px 8px 0;
        display: flex;
        align-items: center;
        background-color: #000;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        border-radius: 5px;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}



button.btn-check-out:hover {
  opacity: 0.7;
  cursor: pointer;
}

button.decreased:hover, button.increased:hover {
  cursor: pointer;
}

.icon-item:hover:not(.expanded) .expanding-content {
  width: 320px;
  display: flex;
  z-index: 4;
}

.icon-item:hover:not(.expanded) .expanding-content-bag {
  width: 320px;
  display: flex;
  z-index: 4;
  transition-delay: 1s;
}

.ion-icon {
  display: flex;
  position: relative;
}

.ion-icon span {
  font-size: 12px;
  height: 0;
  position: absolute;
  right: -5px;
  bottom: 14px;
}

.expanding-content-bag.expanded {
  width: 320px;
  display: flex;
  z-index: 4;
}


