<div class="navBar-container">
  <div class="navBar-icons">
    <div class="title">
      <p [routerLink]="['/']">Men</p>
    </div>
    <div class="logo">
      <div class="logo">Outterfithub</div>
    </div>
    <div class="icons">
      <div class="icon-item">
        <ion-icon name="search-outline"></ion-icon>
      </div>
      <div class="icon-item">
        <ion-icon name="person-outline"></ion-icon>
        <div class="expanding-content">
          <div class="hover">
            <div class="hover-title">
              <p>HI, User </p>
            </div>
            <hr>
            <div class="hover-content">
              <a href="#">My Details</a>
              <a href="#">My Orders</a>
              <a href="#">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="icon-item">
        <ion-icon name="bag-outline"></ion-icon>
        <span>0</span>
      </div>
    </div>
  </div>
</div>
<app-categories></app-categories>
