// @import url('https://fonts.googleapis.com/css2?family=Khmer&family=Russo+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Khmer&family=Passion+One&family=Russo+One&display=swap");

$sidebarwidth: 256px;
$header: #393a3d;
$background: #f5f5f7;
// $bgGray:#EFF2F5;
//v2
$bgGray: rgb(245 245 247);
//v3
// $bgGray: #f8f9fa;
$primaryColor: #1877f2;
$primaryColor2: #1a73e8;
$hoverColorGray: #e6e6e6;
$textColorBlack: #1f1f1f;

// $appFontEN: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",'auxswot',"khmer os siemreap", Roboto, Open Sans, Helvetica Neue, Helvetica, Arial,sans-serif;
$appFont: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
  "auxswot", "khmeros_siemreap", Roboto, Open Sans, Helvetica Neue, Helvetica,
  Arial, "Battambang", "khmeros_siemreap", "Roboto Bold English";
// $appFontTitle: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular","Moul",'auxswot', "Khmer OS Siemreap", 'khmeros_siemreap', 'Battambang', 'Roboto Bold English' , 'Roboto BoldCondensedltalic English';
$appFontStrong: 'system-ui', '-apple-system', BlinkMacSystemFont, '.SFNSText-Regular', 'Helvetica Neue', Helvetica, Roboto, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif, 'auxswot-bold', 'auxswot', 'Battambang', 'khmeros_siemreap';

$appFontTitle: "Roboto Bold English", "Moul", "Roboto Bold";

//side nav
$sidebarbgcolor: #f3f2f1; //rottanak
$sideBorder: #edebe9; //rottanak
$sideBackgroundHover: #d5d5d5;
$sideColor: #202124; //rottanak
$sideExpansion: #edebe8;
$sideColorAlpha: #202124; //rottanaks
$sideBarActive: #1da1f2;
$brand: rgba(255, 255, 255, 0.9);

$color: #202124;
$colorTitle: #cca463;
$appprimaryColor: #1a73e8;
$border: #dfe1e5;
$buttonColor1: #1a6eb0;
$buttonColor2: #1a6eb0;
$red: #f44336;
$redBg: rgb(255 130 130 / 10%);
$link: #1a73e8;
$primary: #1a73e8;
$secondary: #f1f2f5;
$primaryBackground: #039be5;
$hoverPrimary: #00517f;
$sidebarbgcoloractive: #f3f4fa;
$sidebarcolor: #333;
$blackBg: rgba(255, 255, 255, 0.9);
$svgfillcolor: #1a73e8;
$svgWash: #eaf3ff;
$text-primary: #111;
$textInfo: #111;
$darkPrimary: rgba(0, 0, 0, 0.2);
$darkPrimaryHover: rgba(255, 255, 255, 0.2);
$padding: 24px;
$radius: 8px;
$menuItemHover: #1da1f2;
$tabColor: #476282;
$tabColorActive: #1a73e8;
$headerText: #5f6368;
$active: #1a73e8;

$menuActiveColor: #e9f0fe;

$piconColor: #393a3d;
$appsecendaryColor: #f4f5f8;
$inputBg: #f0f2f5;
$titleColor: #393a3d;
$descColor: #6b6c72;
$bgActive: #cee7ff;

@mixin placeholder-color($color) {
  &.placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}
$color1: #3476d0;
$color2: #0c4caa;

$margin: 24px;
$mr2: 20px;
$radiusBig: 12px;
$btnBg: #e4e6eb;
$divider: #ced0d4;
$subtitle: #6b6c72;
$formColor: #002060;
$smoke: #e4e6eb;
$placeholder: #65676b;
$focus: $color1;
$text: #202124;
$white: #fff;
$green: #41b35d;
$darkGreen: rgb(0 128 96);
$greenLine: #008489;

$black10: rgba(0, 0, 0, 0.1);
$black20: rgba(0, 0, 0, 0.2);
$black40: rgba(0, 0, 0, 0.4);
$black50: rgba(0, 0, 0, 0.5);
$dockIconColor: #65676b;
$btnActiveBg: #e7f3ff;

$yellow: #ffa900;
