<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="overflow-scroll">
    <div class="absolute-img-background">
      <div class="img">
        <img
          src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-26-img1.jpg?wid=2000"
          alt=""
        />
      </div>
      <div class="img">
        <img
          src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-26-img2.jpg?wid=2000"
          alt=""
        />
      </div>
      <div class="absolute-text">
        <div class="column-flex">
          <div>
            <h3>The Best Monday Ever</h3>
          </div>
          <div>
            <div class="discount-price">
              <span>50% off</span>
            </div>
          </div>
          <div>
            <div class="purchase">
              <p>your purchase*</p>
            </div>
          </div>
          <div>
            <div class="btn-shop-now">
              <button class="btn btn-primary">Shop Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="title">
        <p>The Best of Sale</p>
      </div>
      <div class="images">
        <div class="img-span">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-16-img2.jpg?wid=750"
            alt=""
          />
          <p>The Straight Jean</p>
        </div>
        <div class="img-span">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-23-img2.jpg?wid=750"
            alt=""
          />
          <p>Ribbed Sweater Polo</p>
        </div>
        <div class="img-span">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-16-img4.jpg?wid=750"
            alt=""
          />
          <p>Relaxed Straight Workwear Pants</p>
        </div>
        <div class="img-span">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-live1-16-img5.jpg?wid=750"
            alt=""
          />
          <p>Holiday Button-Ups</p>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="img-left">
        <div class="img-background">
          <img
            src="https://www.madewell.com/brand_creative/gif/m-2023-dec1-wk1-hp-img7.gif?wid=1500"
            alt=""
          />
        </div>
        <div class="title">
          <h3>The Winter Lookbokk</h3>
          <p>Timeless pieces, styled with a modern eye.</p>
          <button>shop now</button>
        </div>
      </div>
      <div class="img-right">
        <div class="img-background">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-img8-mb.jpg?wid=1500"
            alt=""
          />
        </div>
        <div class="title">
          <h3>The Madewell signatures</h3>
          <p>The 10 styles we've perfected, Available only at Madewell</p>
          <button>shop now</button>
        </div>
      </div>
    </div>

    <div class="monthly-edit">
      <div class="title-btn">
        <div class="title">
          <h3>The Monthly Edit</h3>
          <p>What we're loving right now</p>
        </div>
        <div class="btn">
          <button>Explore</button>
        </div>
      </div>
      <div class="w-90">
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec2-wk3-hp-live11-29-img8.jpg?wid=750"
            alt=""
          />
          <p>The Ribbed Sweater Polo▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec2-wk3-hp-live11-29-img9.jpg?wid=750"
            alt=""
          />
          <p>The Cabled Crewneck Sweater▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec2-wk3-hp-live11-29-img10.jpg?wid=750"
            alt=""
          />
          <p>The McCarren Hoodie▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec2-wk3-hp-live11-29-img11.jpg?wid=750"
            alt=""
          />
          <p>The 1991 Straight Jean▸</p>
        </div>
      </div>
    </div>

    <div class="gift-well-guide">
      <div class="title-btn">
        <div class="title">
          <h3>The <span>Gift Well</span> Guide</h3>
        </div>
      </div>
      <div class="w-90">
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-img9.jpg?wid=750"
            alt=""
          />
          <p>The Ribbed Sweater Polo▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-img10.jpg?wid=750"
            alt=""
          />
          <p>The Cabled Crewneck Sweater▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-img11.jpg?wid=750"
            alt=""
          />
          <p>The McCarren Hoodie▸</p>
        </div>
        <div class="img">
          <img
            src="https://www.madewell.com/brand_creative/jpg/m-2023-dec1-wk1-hp-img12.jpg?wid=750"
            alt=""
          />
          <p>The 1991 Straight Jean▸</p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
