<div class="container">
    <div class="logo-head">
        <div></div>
        <div class="logo">Outterfithub</div>
        <div class="icon" (click)="onClosedialog()">
            <ion-icon name="close-outline"></ion-icon>
        </div>
    </div>
    <div class="search">
        <p>Search</p>
    </div>
    <div class="input-search">
        <div class="icon-search">
            <ion-icon name="search-outline"></ion-icon>
        </div>
        <input type="text" placeholder="What are you looking for?" />
        <div class="cancel-logo">
            <ion-icon name="close-circle-outline"></ion-icon>
        </div>
    </div>
</div>
